
WallpaperChanger/.vs/WallpaperChanger/v17/Browse.VC.db
WallpaperChanger/.vs/WallpaperChanger/v17/.suo
WallpaperChanger/.vs/WallpaperChanger/FileContentIndex/read.lock
WallpaperChanger/.vs/WallpaperChanger/FileContentIndex/d566ca6b-0efd-4791-ace3-d0f03e2aab75.vsidx
WallpaperChanger/.vs/WallpaperChanger/FileContentIndex/04161683-55c9-43c6-a52d-9d60458f690a.vsidx
WallpaperChanger/.vs/WallpaperChanger/v17/ipch/AutoPCH/cc804c2c9c70800e/MAIN.ipch
*.vsidx
*.ipch
*.db-shm
WallpaperChanger/WallpaperChanger/Initialised.txt
WallpaperChanger/x64/Debug/Initialised.txt
*.tlog
*.recipe
*.iobj
*.ipdb
*.pdb
*.log
*.txt
*.idb
*.ilk
*.obj
*.suo
WallpaperChanger/.vs/WallpaperChanger/v17/Browse.VC.opendb
WallpaperChanger/.vs/WallpaperChanger/v17/Browse.VC.db-wal
.vs/WallpaperChanger/v17/.wsuo
.vs/WallpaperChanger/FileContentIndex/read.lock
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
*.db
